html {
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    width: 700px;
    margin: 0 auto;
    background: url('http://ovk0erqxp.bkt.clouddn.com/17-8-31/56332797.jpg');
    padding: 0 20px 20px 20px;
    border: 1px solid black;
}

h1 {
    border: 1px solid black;
    background: rgba(0, 0, 0, 0.7);
    font-size: 40px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #00539F;
    text-shadow: 3px 3px 1px #708090;
}

p,
li {
    color: white;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    text-align: center;
}

img[src] {
    width: 700px;
    display: block;
    margin: 0 auto;
}