html {
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    width: 700px;
    margin: 0 auto;
    background: url('http://ovk0erqxp.bkt.clouddn.com/17-9-5/76442313.jpg');
    padding: 0 20px 20px 20px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

p {
    color: black;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    text-align: center;
}